<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.NetflixPPStreaming"
        tools:targetApi="31">

        <!-- Splash Screen -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.NetflixPPStreaming.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />

        <!-- Main Browse Activity -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <!-- Video Player Activity -->
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="landscape" />

        <!-- Mesh Network Activity -->
        <activity
            android:name=".activity.MeshActivity"
            android:exported="false" />

        <!-- P2P Transfer Service -->
        <service
            android:name=".service.P2PTransferService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>